<h1>Hacker News Search Client</h1>
<div class="container search-box">
  <div class="row">
    <div class="col-md-12">
      <input id="query" type="text" class="form-control" [formControl]="queryField" placeholder="Search ..." />
    </div>
  </div>
</div>

<ng-container *ngIf="!isLoading && !hasError && results">
  <app-search-results [results]="results"></app-search-results>
  <app-pager [(currentPage)]="currentPage" (currentPageChange)="onPageChange()" [totalPages]="totalPages" *ngIf="results.length > 0"></app-pager>
</ng-container>

<ng-container *ngIf="isLoading">
  <div class="container">
    Loading results. Please wait ...
  </div>
</ng-container>

<ng-container *ngIf="hasError && !isLoading">
  <div class="container">
    An error occurred while searching. Please refresh the page and try again.
  </div>
</ng-container>
